/* reset selector */
* {
	margin: 0;
	padding: 0;
}

/* the styles for the elements */
html {
	background: url("https://cdn.avopix.com/photos/detail/d_53092_background-brown-closeup-detail.jpeg");
}

body {
	width: 99%; /*Changed from 800px */
	max-width: 1200px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #800000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: white;
}

/* the styles for the header */
header {
	position: relative;
	padding-top: 0px;
	padding-bottom: 0em;
}

header img {
	float: left;
	padding-right: 2px; /* 30 % 800 * 100   */
	padding-left: 2px;  /* 30 % 800 * 100   */
}

.logo {
	position:relative;
	top:10px;
	left:10px; 
}

.coffee_header {
	height: 350px;
	width: 100%;
	position:absolute;
	padding-right: 0px;
	padding-left: 0px;
}

#social_media {
	position:relative;
	top: 0px;
	right: 10px;
	height: 20%;
	width: 20%;
	float:right;
	
}

#gif {
	background: url("images/vetsAdSmall.gif") no-repeat;
}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

header .shadow {
	text-shadow: 2px 1px #800000;
}

/* the styles for the nav menu */
/* hide mobile menu */
#mobile_menu {
	display: none;
}

#nav_menu {
	padding-top:320px;
	padding-left:8%;
	position: relative;
}

nav ul {
	list-style-type: none;
	background-color: white;
	margin: 0;
	padding: 3px;
	border: 1.5px solid black;
	border-radius: 10px;
	width:50%;
}

nav ul li {
	float: left;
	width:20%; /* Changed from 160px...(160 % 800 * 100)*/
}

nav ul li a {
	display: block;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	background-color: white;
	color: #800000;
	font-weight: bold;
	text-shadow: 2px 1px gray;
	
}

.current {
	color: rgb(218, 137, 45);
}

nav ul li:hover > #submenu {
	display: block;
}

nav > ul::after {
	content: "";
	clear: both;
	display: block;
} 

/* the styles for the main */
main {
	clear: left;
	-webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-columns: 2; /* Firefox */
    columns: 2;
}


/* the styles for the aside */
aside {
	float: right;
	padding-right: 20px;  /* 20 % 800 * 100  */
	padding-bottom: 20px;
}

main aside h2 {
	font-size: 130%;
	color: #800000;
	text-decoration: underline;
	padding-top: .5em;
	padding-bottom: .25em;
}

main aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

/* the styles for the section */
section {
	width: 65.625%; /* Changed from 525px...(525 % 800 * 100) */
	float: left;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
main section h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin: 0;
}
main section h2 {
	float:left;
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .3em;
	text-decoration: underline;
}

main section p {
	padding-bottom: .5em;
	float: left;
}

main section blockquote {
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}

main section ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}

main section li {
	padding-bottom: .35em;
}

/* the styles for the article */
article {
	padding-top: 1em;
	padding-bottom: .5em;
	margin-right: 1em;
	margin-left: 1em;
}

article h2 {
	padding-top: 0;
}

article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

article img {
	max-width: 90%;
	min-width: 33%;
	margin-top: 5px;
	margin-bottom: 4px;
	box-shadow: 3px 3px black;
	border: 1px solid black;
}

figure {
	font-size: 90%;
	color: black;
}

.store_front {
	float:left;
}

#store_fire {
	float:right;
}

#store_fire_caption {
	float:left;
	text-align: left;
}

#veterans {
	float:right;
	max-width: 30%;
	min-width: 150px;
	margin-right: 25px;
}

main section article p {
	margin-bottom: .5em;
}

p {
	text-shadow: 1px 1px gray;
}

/* the styles for the footer */
footer {
	clear: both;
	background-color: #800000;
	color: white;
	margin-top: 15px;
}


footer p {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Style all font awesome icons */
.fa {
	position: relative;
	float: right;
    font-size: 20px;
    width: 30px;
    text-align: center;
	text-decoration: none;
	margin-top:15px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #800000;
	color: white;
}

/* Twitter */
.fa-twitter {
    background: #800000;
	color: white;
}

/* Instagram */
.fa-instagram {
	background: #800000;
	color: white;
}

/* Pinterest */
.fa-pinterest {
	background: #800000;
	color: white;
}

/* the styles for links */

/* visited link */
a:visited {
    font-style: italic;
}

/* mouse over link */
a:hover {
	font-style: italic;
}

/* selected link */
a:active {
	font-style: italic;
}

/* tablet potrait layout */
@media only screen and (max-width: 959px) {
	main section h1 {
		font-size: 135%;
	}
	main section h2 {
		font-size: 120%;
	}

	main aside h2 {
		font-size: 120%;
	}
}

/* mobile landscape layout */
@media only screen and (max-width: 767px) {
	header img {
		float: none;
		padding-right: 2px; /* 30 % 800 * 100   */
		padding-left: 2px;  /* 30 % 800 * 100   */
	}

	.coffee_header {
		display:none;
	}
	
	header {
		text-align:center;
	}

	#nav_menu {
		display: none;
	}

	#mobile_menu {
		display: block;
	}

	.slicknav_menu {
		background-color: #800000 !important;
	}

	section {
		width: 95%; 
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	aside {
		width: 95%;  
		float: none;
		padding-left: 20px;  /* 20 % 800 * 100  */
		padding-right: 20px;
		padding-bottom: 20px;
	}

	article img {
		max-width: 30%;
	}

	aside div {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
}

/* mobile portrait layout */
@media only screen and (max-width: 479px) {
	body {
		font-size:90%;
	}


}